version: "3"
services:
  tao:
    image: devsu/tao:latest
    depends_on:
      - database
    volumes:
      - tao-code:/var/www/html
    environment:
      - DB_HOST=example_database_1
      - DB_NAME=tao
      - DB_USER=root
      - DB_PASSWORD=r00t
      - USER=tao
      - PASSWORD=t8CzwkSX8Eml2oeA

  web:
    image: nginx:1.19
    ports:
      - "80:80"
    depends_on:
      - tao
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - tao-code:/var/www/html

  database:
    image: mysql:8
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: r00t
      MYSQL_USER: tao
      MYSQL_PASSWORD: tao
      MYSQL_DATABASE: tao

volumes:
  tao-code:
