version: "3"
services:
  tao:
    image: devsu/tao:latest
    depends_on:
      - database
    volumes:
      - tao-code:/var/www/html
    env_file: ../.env
    environment:
      - WAIT_HOSTS=example_database_1:3306
      - WAIT_HOSTS_TIMEOUT=300
      - WAIT_SLEEP_INTERVAL=30
      - WAIT_HOST_CONNECT_TIMEOUT=30

  web:
    image: nginx:1.19
    ports:
      - "80:80"
    depends_on:
      - tao
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - tao-code:/var/www/html

  database:
    image: mysql:8
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3306:3306"
    security_opt:
      - seccomp:unconfined
    environment:
      MYSQL_ROOT_PASSWORD: r00t
      MYSQL_USER: tao
      MYSQL_PASSWORD: tao
      MYSQL_DATABASE: tao

volumes:
  tao-code:
